body {
	min-width: 320px;
	padding: 50px 5%;
	font-family: 'Roboto', sans-serif;
}
img { max-width: 100%; }
input[type="radio"] { -webkit-appearance: radio; }
.btn:active, .btn.active, .btn:focus, .btn.focus,
.btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
	outline: none;
	box-shadow: none;
}
.error { color: $red; }
.form-control.error { border-color: $red; }